@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("InterBold"),
    url("./Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("InterRegular"),
    url("./Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
