.program_content{
    @apply w-[75%] mx-auto
}

.program_map{
    @apply flex gap-5 mt-[50px]
}

.program_text{
    @apply font-normal text-[16px] leading-6 tracking-[0.5px] text-subPrimary
}

.program_title{
    @apply text-[40px] leading-[50px] font-[600] tracking-[0.3px] text-primary 
}

.program_data{
    @apply text-subPrimary font-normal text-[14px] leading-6 tracking-[0.3px]
}









@media screen and  (max-width: 1024px) {
    .program_content{
        @apply w-[100%]
    }

    /* .programs{
        margin: 0px auto;
    } */

    .program_map{
        flex-wrap: wrap;
        justify-content: center;
    }

    .about{

    }
}

@media screen and (max-width: 780px) {

    .program_text, .program_title{
        margin: 10px auto;
        outline: 0px solid red;
        /* text-align: center; */
        width: 50%;

    }
    
}